.ft-checkbox[data-state='checked'] .ft-checkbox-polyline {
  stroke-dashoffset: 44;
  transition: stroke-dashoffset 250ms linear 0.2s;
}

.ft-checkbox:not([data-state='checked']) .ft-checkbox-polyline {
  stroke-dashoffset: 66;
}

.ft-checkbox .ft-checkbox-line {
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition:
    opacity 250ms ease,
    transform 250ms ease;
}

.ft-checkbox[data-state='indeterminate'] .ft-checkbox-line {
  opacity: 1;
  transform: scaleX(1);
  transition:
    opacity 250ms ease 0.1s,
    transform 250ms ease 0.1s;
}

.ft-checkbox[data-state='indeterminate'] .ft-checkbox-polyline {
  opacity: 0;
}

.ft-checkbox::after {
  content: '';
  border-radius: 6px;
  opacity: 0;
  scale: 0.5;
  transition: all 200ms linear;
  transform-origin: center;
  position: absolute;
  inset: 0;
}

.ft-checkbox[data-state='checked']::after,
.ft-checkbox[data-state='indeterminate']::after {
  opacity: 1;
  scale: 1;
}

.ft-checkbox::before {
  content: '';
  border: 1px solid var(--input);
  border-radius: 6px;
  transition: all;
  transform-origin: center;
  position: absolute;
  inset: 0;
}

.ft-checkbox:hover::before {
  border-color: var(--input-hover);
}